<%= form_for @menu, url: menu_new?(@menu) do |f| %>
  <% 3.times do |index| %>
    <p><%= get_name_menu_dish_item(index) %></p>
    <% DishItems::Base.kinds[index].all.each do |item| %>
      <%= check_box_tag 'dish_item_ids[]', item.id, cheking_dish_item_in_menus(@menu, item) %>
      <%= item.name %>
    <% end %>
  <% end %>
  <p><%= link_to 'Add Dish Item', new_admin_dish_item_path %></p>
  <p><%= f.submit 'Create' %></p>
<% end %>



